:root {
  --bg-color: #ffffff;
  --text-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root.system-theme {
    --bg-color: #333333;
    --text-color: #ffffff;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

header,
footer {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

pre {
  text-align: center;
}

code {
  font-size: 200px;
}

dl,
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

dt,
pre strong,
pre b,
code strong,
code b,
kbd strong,
kbd b,
samp strong,
samp b,
tt strong,
tt b,
var strong,
var b {
  font-weight: 700;
}

select {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
}
