:root {
  --font-body: '7x12x3', sans-serif;
  --font-code: '7x12x3', monospace;
}

@font-face {
  font-family: '7x12x3';
  src:
    url('7x12x3.woff') format('woff'),
    url('7x12x3.woff2') format('woff2'),
    url('7x12x3.ttf') format('truetype'),
    url('7x12x3.otf') format('opentype');
}

:root.light-theme {
  --bg-color: #ffffff;
  --text-color: #333333;
  --link-color: #0077cc;
}

:root.dark-theme {
  --bg-color: #333333;
  --text-color: #ffffff;
  --link-color: #0099ff;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

header,
footer {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

pre {
  display: flex;
  justify-content: center;
}

code {
  font-family: var(--font-code);
  font-weight: bold;
  font-size: 5em;
}

dl {
  font-weight: bold;
}

dd {
  font-weight: normal;
}

a:link, a:visited, a:hover, a:active {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#themeCheck {
  appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #999;
  position: absolute;
  top: 50px;
  right: 50px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}

#themeCheck::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

#themeCheck:checked::before {
  left: 32px;
}
